body {
  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 100vh; */
}

.grid__container {
  display: grid;
  grid-template-rows: repeat(15, auto);
  grid-template-columns: repeat(15, auto);
}

.tile {
  position: relative;
  display: inline-block;
  margin: .5px;
  height: 30px;
  width: 30px;
  border: 1px solid grey;
}

.tile--visited {
  background-color: cornflowerblue;
}

.tile--path {
  background-color: teal;
}

.tile--hover {
  background-color: red;
}

.tile--start {
  background-color: lightgreen;
}

.tile--target {
  background-color: lightcoral;
}