body {
  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 100vh; */
}

.grid {
  display: grid;
  grid-template-rows: repeat(20, auto);
  grid-template-columns: repeat(20, auto);
}

.node {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.node--start {
  background-color: lightgreen;
}

.node--end {
  background-color: lightcoral;
}