body {
  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 100vh; */
}

.board__container {
  display: grid;
  grid-template-rows: repeat(10, auto);
  grid-template-columns: repeat(10, auto);
}

.cell {
  display: inline-block;
  margin: .5px;
  height: 30px;
  width: 30px;
  border: 1px solid black;
}

.cell--picked {
  background-color: yellow;
}

.cell--shortest {
  background-color: teal;
}

.cell--start {
  background-color: lightgreen;
}

.cell--end {
  background-color: lightcoral;
}